:root {
    --font: 'Raleway', sans-serif;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    font-family: var(--font);
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
