/* Header */
.top-header {
    background-color: #000;
}
.search {
    padding: 0.45rem 0;
}
.search__title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}
.search__input {
    border-bottom: 0.1rem solid #fff;
    width: 54rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
.search__input--text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: #000;
    outline: none;
    width: 90%;
}
.search__input--btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
}
.main-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav__menu--item {
    margin-right: 5.22rem;
}
.nav__menu--item:last-child {
    margin-right: 0;
}
.nav__menu--link {
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: calc(4rem / 2);
    padding-bottom: calc(4rem / 2);
    transition: all 0.3s ease;
}
.nav__menu--link:hover {
    color: blue;
}
.nav__social--link {
    margin-right: 2rem;
}
.nav__social--link:last-child {
    margin-right: 0;
}
/* End Header */
/* Hero */
.hero {
    background-image: url('../img/landing.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 10.8rem);
}
.hero__content {
    margin-top: 2.1rem;
    width: 52rem;
}
.hero__content--title {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-size: 13rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1rem;
}
.hero__content--title span {
    display: block;
    text-align: right;
}
.hero__content--title span:last-child {
    display: block;
    text-align: left;
}

.hero__content--desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 5rem;
    width: 75%;
}
.hero__content--btn {
    border-radius: 1rem;
    background: #68cbe1;
    color: #0b4cff;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: italic;
    padding: 1rem 3rem;
    transition: all 0.3s ease;
}
.hero__content--btn:hover {
    background: #0b4cff;
    color: #68cbe1;
}
/* End Hero */
